@import '../../../styles/variables';
@import '../../../styles/mixins';

.experience {
  @include section-container;
}

.formTitle {
  @include section-title;
}

.experienceContainer {
  @include list-container;
}

.addButton {
  @include full-width-add-button;
}

.skeletonButtonContainer {
  margin-bottom: 16px;
}

.skeletonBlockContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
