@use 'sass:color';
@import '../../../styles/variables';
@import '../../../styles/mixins';

.draggableExperienceBlockContainer {
  @include draggable-container;

  &.excluded {
    .experienceBlockHeader {
      color: $color-disabled;
    }

    .experienceBlockCompany {
      color: $color-disabled;
    }

    .experienceBlockDate {
      color: color.adjust($color-disabled, $lightness: 10%);
    }

    .drawerToggleButton {
      background: rgba($color-disabled, 0.1);
      border-top-color: rgba($color-disabled, 0.3);
      color: color.adjust($color-disabled, $lightness: 10%);
    }

    .addBulletButton,
    .addBulletButtonNested {
      background: rgba($color-disabled, 0.1);
      border-top-color: rgba($color-disabled, 0.2);
      color: color.adjust($color-disabled, $lightness: 10%);
    }
  }

  &.isDragging.excluded {
    .experienceBlockHeader,
    .experienceBlockCompany,
    .experienceBlockDate {
      color: inherit;
    }
    .drawerToggleButton,
    .addBulletButton,
    .addBulletButtonNested {
      background: inherit;
      border-top-color: inherit;
      color: inherit;
    }
  }
}

.draggableExperienceBlock {
  @include draggable-block;
}

.experienceBlockContent {
  @include block-content;
}

.experienceBlockHeader {
  @include block-header;
}

.experienceBlockCompany {
  font-size: 14px;
  font-weight: 500;
  color: $color-text;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.8;
}

.experienceBlockDate {
  @include block-date;
}

.experienceBlockActions {
  @include block-actions;
}

.generateAllButton {
  @include generate-all-button;
}

.magicRipple {
  @include magic-ripple;
}

.editButton {
  @include edit-button;
}

.toggleIncludeButton {
  @include toggle-include-button;
}

.experienceBlockExcluded {
  @include excluded-block-text;
}

.drawerToggleButton {
  @include drawer-toggle-button;
}

.experienceBlockDrawer {
  @include expandable-drawer;
}

.addBulletButton {
  @include add-bullet-button;
}

.addBulletButtonNested {
  @extend .addBulletButton;
  margin: 0 -8px;
  width: calc(100% + 16px);
}

.lockAllButtons {
  @include lock-buttons-container;
}
